.App {
  text-align: center;
}

#input {
  width: 150px;
  height: fit-content;
}

#select {
  width: fit-content;
}

.rate {
  color: #eee;
  background-color: #000;
  padding: 1px 10px;
  border-radius: 5px;
}